.vscode/**
.vscode-test/**
client/src/**
client/out/test/**
client/out/**/*.map
node_modules/**
!node_modules/vscode-languageclient/lib/**
!node_modules/vscode-languageclient/node.js
!node_modules/vscode-languageclient/node.d.ts
!node_modules/vscode-languageclient/package.json
!node_modules/vscode-languageclient/License.txt
!node_modules/vscode-languageclient/README.md
!node_modules/vscode-jsonrpc/lib/**
!node_modules/vscode-jsonrpc/package.json
!node_modules/vscode-languageserver-protocol/lib/**
!node_modules/vscode-languageserver-protocol/package.json
!node_modules/vscode-languageserver-types/lib/**
!node_modules/vscode-languageserver-types/package.json
!node_modules/minimatch/lib/**
!node_modules/minimatch/package.json
!node_modules/semver/
!node_modules/brace-expansion/
!node_modules/balanced-match/
server/p4lsp-server.debug
target/**
src/**
examples/**
tests/**
Cargo.toml
Cargo.lock
build.rs
*.log
.github/**
.vs/**
*.vsix
p4lsp-server.d
tsconfig.tsbuildinfo
package-lock.json